@using QuanLyTruongHoc.Models.Utils;
@using QuanLyTruongHoc.Models
@model QuanLyTruongHoc.Models.QuanLyConNguoi.StudentInfo
@inject QuanLyTruongHocConText _context

@{
    ViewData["Title"] = ((Model.Id == 0) ? "Thêm mới" : "Sửa đổi") + " học sinh";

    var lstClass = _context.classes.ToList();
}

<div class="modal fade" id="createFormModal_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel"><strong>@ViewData["Title"]</strong></h4>
            </div>
            <div class="modal-body m-2" style="background:aliceblue;">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id"/>
                            <div class="form-group">
                                <label asp-for="name" class="control-label"></label>
                                <input asp-for="name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ngaySinh" class="control-label"></label>
                                <input type="date" max="@DateTime.Now.AddYears(-15)" asp-for="ngaySinh" class="form-control" />
                                <span asp-validation-for="ngaySinh" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="gioiTinh" class="control-label"></label>
                                <select asp-for="gioiTinh" class="form-control">
                                    <option value="0">Chọn giới tính</option>
                                    @{
                                        var values = Enum.GetValues(typeof(EnumGender));
                                        foreach (var value in values)
                                        {
                                            <option value="@((int)value)"> @Utils.GetEnumDescription((EnumGender)value)</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="gioiTinh" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdLop" class="control-label"></label>
                                <select asp-for="IdLop" class="form-control">
                                    <option value="0">Chọn lớp</option>
                                    @{
                                        foreach (var value in lstClass)
                                        {
                                            <option value="@value.Id"> @value.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="IdLop" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="noiSinh" class="control-label"></label>
                                <input asp-for="noiSinh" class="form-control" />
                                <span asp-validation-for="noiSinh" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="danToc" class="control-label"></label>
                                <input asp-for="danToc" class="form-control" />
                                <span asp-validation-for="danToc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="diaChiThuongTru" class="control-label"></label>
                                <input asp-for="diaChiThuongTru" class="form-control" />
                                <span asp-validation-for="diaChiThuongTru" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CMND" class="control-label"></label>
                                <input asp-for="CMND" class="form-control" />
                                <span asp-validation-for="CMND" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input style="float:right" type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>