@using QuanLyTruongHoc.Models.Utils;
@using QuanLyTruongHoc.Models
@using QuanLyTruongHoc.Models.QuanLyNghiepVu
@model Class
@inject QuanLyTruongHocConText _context

@{
    ViewData["Title"] = "Thông tin thời khóa biểu";

    var lstTKBList = _context.tKBItems.Where(p => p.IdTKB == Model.Id).ToList();
    var lstMonHoc = _context.monHocs.ToList();
    var lstGiaoVien = _context.Teachers.ToList();
    var lstClass = _context.classes.ToList();
}

<div class="modal fade" id="tkbFormModal_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-body m-2" style="background:aliceblue;">
                <div class="row">
                    <div class="col-md-12 schedule-table">
                        <table class="table bg-white">
                            <thead>
                                <tr>
                                    <th style="width: 20%">Lớp @Model.Name</th>
                                    <th style="width: 16%">Ca 1</th>
                                    <th style="width: 16%">Ca 2</th>
                                    <th style="width: 16%">Ca 3</th>
                                    <th style="width: 16%">Ca 4</th>
                                    <th style="width: 16%">Ca 5</th>
                                    <th style="width: 16%">Ca 6</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 2; i <= 8; i++)
                                {
                                    var dayWeek = "Thứ " + i;
                                    if (i == 8) dayWeek = "Chủ nhật";
                                    <tr>
                                        <td class="day">@dayWeek</td>
                                        @for (int j = 1; j <= 6; j++)
                                        {
                                            var tkbItem = lstTKBList.FirstOrDefault(p => p.day == i.ToString() && p.tietHoc == j && p.IdLop == Model.Id);
                                            if (tkbItem is null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                var monHoc = lstMonHoc.FirstOrDefault(p => p.Id == tkbItem.IdMonHoc);
                                                var giaoVien = lstGiaoVien.FirstOrDefault(p => p.Id == tkbItem.IdGiaoVien);
                                                <td class="active">
                                                    <h4>@monHoc.Name</h4>
                                                    <p>@giaoVien.name</p>
                                                    <div class="hover">
                                                        <h4>@monHoc.Name</h4>
                                                        <p>@giaoVien.name</p>
                                                        <span>Ca @j</span>
                                                    </div>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>